

<!--=== Search Block ===-->
<div class="search-block parallaxBg">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>Building and Expanding<br /> Co-Operatives for our Communities</h1>
        </div>
    </div>
</div><!--/container-->
<!--=== End Search Block ===-->
<!--=== Content ===-->
<div class="container content">

    <!-- About Description -->
    <div class="title-box-v2">

        <p>
            Credit Unions do an outstanding job telling stories about their individual community involvement. However, this can’t be said for us as an industry. What if there was a way to show the cumulative social impact all Credit Unions provide? What if this information could be used not only to validate our value-proposition, relevancy and tax-exempt status but also to engage our younger-members and help spark new cooperatives?
        </p>
        <p>
            There are just over 100 million Credit Union members in the United States and Canada. If their Credit Unions made a single contribution of $1 per member, we could continually generate $1 million each year. This sustainable endowment fund could be used to help build numerous cooperatives that simply need help getting started.
        </p>
        <p>
            The Sustainable Cooperative Fund - turning dollars into change
        </p>
    </div>


    <!-- Begin Service Block -->
    <div class="row margin-bottom-40">
        <div class="col-md-4">
            <!--div class="easy-block-v3 service-or">
                <div class="service-bg"></div>
                <i class="fa fa-globe"></i>
                <div class="inner-faq-b">
                    <h2>Web Search</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
                </div>
            </div-->
            <div class="easy-block-v3 service-or">
                <div class="service-bg"></div>

                <div class="inner-faq-b">
                    <h2>Step 1: Report Investments</h2>

                    <img style="height:223px; display:block;margin:0px auto" src="/assets/img/scf/North_America.png" />

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="easy-block-v3 service-or">
                <div class="service-bg"></div>
                <div class="inner-faq-b">
                    <h2>Step 2: Member Vote</h2>

                    <img style="height:223px; display:block;margin:0px auto" src="/assets/img/scf/Votebox.png" />

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="easy-block-v3 service-or">
                <div class="service-bg"></div>
                <div class="inner-faq-b">
                    <h2>Step 3: Choose Recipients</h2>
                    <img style="height:223px; display:block;margin:0px auto" src="/assets/img/scf/MoneyBag.png" />

                </div>
            </div>
        </div>
    </div>
    <!-- End Service Block -->
    <!-- Begin Service Block -->
    <!---div class="row margin-bottom-40">
        <div class="col-md-4">
            <div class="easy-block-v3 service-or">
                <div class="service-bg"></div>
                <i class="fa fa-globe"></i>
                <div class="inner-faq-b">
                    <h2>Web Search</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="easy-block-v3 service-or">
                <div class="service-bg"></div>
                <i class="icon-camera"></i>
                <div class="inner-faq-b">
                    <h2>Photos &amp; Video</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="easy-block-v3 service-or">
                <div class="service-bg"></div>
                <i class="fa fa-map-marker"></i>
                <div class="inner-faq-b">
                    <h2>Map Location</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
                </div>
            </div>
        </div>
    </div-->
    <!-- End Service Block -->
    <!-- Top Categories -->
    <div class="headline"><h2>Top Categories</h2></div>
    <div class="row category margin-bottom-20">
        <!-- Info Blocks -->
@foreach (SCFWeb2.CategoryService.Category category in ViewBag.categories) {


        <div class="content-boxes-v3">
            <i class="icon-custom icon-sm rounded-x icon-bg-light-grey icon-line icon-badge"></i>
            <div class="content-boxes-in-v3">
                <h3><a href="#"> @category.Description</a></h3>
                <p>@category.Details</p>
            </div>
        </div>

}
        <!--div class="col-md-4">
            <div class="content-boxes-v3">
                <i class="icon-custom icon-sm rounded-x icon-bg-light-grey icon-line icon-badge"></i>
                <div class="content-boxes-in-v3">
                    <h3><a href="#"> Top 100 templates</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
            <div class="content-boxes-v3">
                <i class="icon-custom icon-sm rounded-x icon-bg-light-grey fa fa-hdd-o"></i>
                <div class="content-boxes-in-v3">
                    <h3><a href="#"> Wikipedia</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
            <div class="content-boxes-v3">
                <i class="icon-custom icon-sm rounded-x icon-bg-light-grey fa fa-mobile"></i>
                <div class="content-boxes-in-v3">
                    <h3><a href="#"> Web design</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>

        </!--div>
        <!-- End Info Blocks -->
        <!-- Info Blocks -->
        <!--div class="col-md-4">
            <div class="content-boxes-v3">
                <i class="icon-custom icon-sm rounded-x icon-bg-light-grey fa fa-bell-o"></i>
                <div class="content-boxes-in-v3">
                    <h3><a href="#"> Hi-Tech</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
            <div class="content-boxes-v3">
                <i class="icon-custom icon-sm rounded-x icon-bg-light-grey fa fa-thumbs-o-up"></i>
                <div class="content-boxes-in-v3">
                    <h3><a href="#"> Yahoo</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
            <div class="content-boxes-v3">
                <i class="icon-custom icon-sm rounded-x icon-bg-light-grey icon-line icon-playlist"></i>
                <div class="content-boxes-in-v3">
                    <h3><a href="#"> Music</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>

        </!--div>
        <!-- End Info Blocks -->
        <!-- Info Blocks -->
        <!--div class="col-md-4">
            <div class="content-boxes-v3">
                <i class="icon-custom icon-sm rounded-x icon-bg-light-grey fa fa-bell-o"></i>
                <div class="content-boxes-in-v3">
                    <h3><a href="#"> Hi-Tech</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
            <div class="content-boxes-v3">
                <i class="icon-custom icon-sm rounded-x icon-bg-light-grey fa fa-thumbs-o-up"></i>
                <div class="content-boxes-in-v3">
                    <h3><a href="#"> Yahoo</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
            <div class="content-boxes-v3">
                <i class="icon-custom icon-sm rounded-x icon-bg-light-grey icon-line icon-playlist"></i>
                <div class="content-boxes-in-v3">
                    <h3><a href="#"> Music</a></h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>

        </!--div>
        <!-- End Info Blocks -->
    </div>
    <!-- End Top Categories -->
</div><!--/container-->
<!--=== End Content ===-->
<!--=== Parallax Counter ===-->
<div class="parallax-counter parallaxBg margin-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">521</span>
                    <h4>Projects</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">24583</span>
                    <h4>Dollars Raised</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">7349</span>
                    <h4>Votes</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">87904</span>
                    <h4>Members</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Parallax Counter ===-->