<!--=== Content Part ===-->
<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-12 mb-margin-bottom-30">

            <div class="heading heading-v1 margin-bottom-40">
                <h2>Contact</h2>
                <p>Get in touch with us to learn more about our values, projects and how we are helping credit unions across North America to succeed in their communities.</p>
            </div>



          

            <div class="funny-boxes funny-boxes-colored funny-boxes-grey">
                <div class="row">
                    <div class="col-md-4 funny-boxes-img">
                        <img class="img-responsive" src="assets/img/scf/Andrew.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <h2>Andrew Spirrison</h2>
                        <p><i>Vice President, Retail Delivery | FORUM Credit Union</i></p>
                        <p><i class="fa fa-envelope"></i> andrew.spirrison@forumcu.com</p>
                        <p><i class="glyphicon glyphicon-earphone"></i> 317.558.6089</p>
                        <p><i class="fa fa-bookmark"></i> <a href="http://forumcu.com">forumcu.com</a></p>
                        <p><i class="fa fa-building-o"></i> FORUM Credit Union Headquaters | 11313 USA Pkwy Fishers | IN, USA | 46038</p>
                    </div>
                </div>
            </div>


            <div class="funny-boxes funny-boxes-colored funny-boxes-grey">
                <div class="row">
                    <div class="col-md-4 funny-boxes-img">
                        <img class="img-responsive" src="assets/img/scf/Brad.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <h2>Brad Barnes, CPA</h2>
                        <p><i>Chief Financial Officer | Air Academy Federal Credit Union</i></p>
                        <p><i class="fa fa-envelope"></i> bradb@aafcu.com</p>
                        <p><i class="glyphicon glyphicon-earphone"></i> 719.592.1030</p>
                        <p><i class="fa fa-bookmark"></i> <a href="http://aafcu.com">aafcu.com</a></p>
                        <p><i class="fa fa-building-o"></i> Air Academy Federal Credit uion | 9810 N Union Blvd | Colorado Springs, CO | 80024</p>
                        
                    </div>
                </div>
            </div>


            <div class="funny-boxes funny-boxes-colored funny-boxes-grey">
                <div class="row">
                    <div class="col-md-4 funny-boxes-img">
                        <img class="img-responsive" src="assets/img/scf/Doug.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <h2>Douglas Ebner</h2>
                        <p><i>Manager, Business Technology and Innovation | First West Credit Union</i></p>
                        <p><i class="fa fa-envelope"></i> debner@firstwestcu.ca</p>
                        <p><i class="glyphicon glyphicon-earphone"></i> 250.487.7236</p>
                        <p><i class="fa fa-bookmark"></i> <a href="http://www.firstwestcu.ca">firstwestcu.ca</a></p>
                        <p><i class="fa fa-building-o"></i> Valley First Regional Office | 3rd Floor, 184 Main Street | Pentiction, BC | V2A 8G7</p>
                    </div>
                </div>
            </div>


            <!--form>
                <label>Name</label>
                <div class="row margin-bottom-20">
                    <div class="col-md-7 col-md-offset-0">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <label>Email <span class="color-red">*</span></label>
                <div class="row margin-bottom-20">
                    <div class="col-md-7 col-md-offset-0">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <label>Message</label>
                <div class="row margin-bottom-20">
                    <div class="col-md-11 col-md-offset-0">
                        <textarea rows="8" class="form-control"></textarea>
                    </div>
                </div>

                <p><button type="submit" class="btn-u">Send Message</button></p>
            </!--form-->
        </div><!--/col-md-9-->





    </div><!--/col-md-3-->
</div><!--/row-->
    </div><!--/container-->
<!--=== End Content Part ===-->