 <!--=== Content Part ===-->
<div class="container content">


    <!-- About Description -->
    <div class="heading heading-v1 margin-bottom-40">
        <h2>About</h2>
        <p>            The Sustainable Cooperative Fund will help build and expand cooperatives selected by our Credit Union members. This project has two areas. First, a repository for participating Credit Unions to report the areas they invest their time, dollars, outreach efforts. This information is then aggregated and incorporated into a heat-map showing how and where we impact society. This information is not only helpful for our trade associations and legislators; it also shows our members why being a part of a Credit Union is important. Second, each year every participating Credit Union will reach out to their members to see which identified cooperatives should be recipients of grant money. From the aggregated heat-map data, the Fund will select several broad areas where Credit Unions are heavily involved and identify small cooperatives serving these needs. We are striving to give each participating Credit Union an equal voice, thereby giving each individual member an equal voice. The grants will help sponsor efforts, duplicate sustainable business models and help the cooperatives impact both their own and other communities.</p>
    </div>

   

    <!-- Begin Service Block -->
    <div class="row margin-bottom-40">
        <div class="col-md-4">
            <!--div class="easy-block-v3 service-or">
                <div class="service-bg"></div>
                <i class="fa fa-globe"></i>
                <div class="inner-faq-b">
                    <h2>Web Search</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
                </div>
            </div-->
            <div class="easy-block-v3 service-or">
                <div class="service-bg"></div>

                <div class="inner-faq-b">
                    <h2>Step 1: Report Your Investments</h2>
                    <img style="height:223px; display:block;margin:0px auto" src="/assets/img/scf/North_America.png" />

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="easy-block-v3 service-or">
                <div class="service-bg"></div>
                <div class="inner-faq-b">
                    <h2>Step 2: Member Vote</h2>
                    <img style="height:223px; display:block;margin:0px auto" src="/assets/img/scf/Votebox.png" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="easy-block-v3 service-or">
                <div class="service-bg"></div>
                <div class="inner-faq-b">
                    <h2>Step 3: Choose Recipients</h2>
                    <img style="height:223px; display:block;margin:0px auto" src="/assets/img/scf/MoneyBag.png" />
                </div>
            </div>
        </div>
    </div>
    <!-- End Service Block -->




</div>
<!--=== End Content Part ===-->
<!--=== Parallax About Block ===-->
<div class="parallax-bg">
    <div class="container content parallax-about">
        <div class="title-box-v2">
            <h2>About Us</h2>
            <p>Sustainable Coop seeks to highlight the cumulative efforts of all credit unions in North America, working to build and expand cooperatives voted on by members. The cooperatives chosen will receive grants in order to help sponsor efforts, duplicate sustainable business models and help the cooperatives impact their own and other communities. </p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="banner-info light margin-bottom-10">
                    <i class="rounded-x icon-bell"></i>
                    <div class="overflow-h">
                        <h3>Our mission</h3>
                        <p>Working to validate the importance of credit unions and the investments they make in their communities.  </p>
                    </div>
                </div>
                <div class="banner-info light margin-bottom-10">
                    <i class="rounded-x fa fa-magic"></i>
                    <div class="overflow-h">
                        <h3>Our vision</h3>
                        <p>Uniting credit unions across North America to create long lasting, positive change in our world. </p>
                    </div>
                </div>

                <div class="margin-bottom-20"></div>
            </div>

        </div>
    </div><!--/container-->
</div>
<!--=== End Parallax About Block ===-->